@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./assets/font/stylesheet.css";

@layer base {
  :root {
    --text: #050316;
    --background: #fbfbfe;
    --primary: #2f27ce;
    --secondary: #dddbff;
    --accent: #443dff;
  }
  .dark {
    --text: #eae9fc;
    --background: #010104;
    --primary: #3a31d8;
    --secondary: #020024;
    --accent: #0600c2;
  }
  body {
    @apply bg-[#fbfbfe];
    font-family: "Estedad-FD";
  }
}

@layer components {
  /* Header */
  .back-header {
    @apply hidden md:flex items-center justify-between px-4 bg-white py-3 border-b-2;
  }
  .nav {
    @apply flex items-center justify-between bg-white px-4;
  }
  .nav-item {
    @apply px-4 transition-all hover:text-primary hover:translate-y-[-5px] hover:border-primary hover:border-b-2 py-2;
  }
  .btn-header {
    @apply flex items-center bg-primary p-3 rounded-xl text-white gap-3 transition-all hover:bg-accent cursor-pointer hover:translate-y-[-5px];
  }
  .btn-header-1 {
    @apply hidden md:flex;
    @apply btn-header;
  }
  .btn-header-2 {
    @apply flex;
    @apply btn-header;
  }
  
  /* Section 1 */
  .section1 {
    @apply container grid grid-cols-1 md:grid-cols-2 items-center justify-around gap-3;
  }
  .border-box {
    @apply flex items-center w-2/3 md:w-1/2 border border-gray-200 rounded-full p-2;
  }
  .title-section1 {
    @apply text-xl md:text-4xl font-bold;
  }
  
  /* Reserve Section */
  .reserve-section {
    @apply max-w-4xl mx-8 md:mx-auto bg-white rounded-xl shadow-lg md:rounded-full p-7 relative top-7 md:-top-2;
  }
  .btn-reserve {
    @apply w-2/6 md:w-auto flex items-center justify-center mx-auto bg-primary p-2.5 mt-12 rounded-xl text-white gap-3 transition-all hover:bg-accent cursor-pointer hover:translate-y-[-5px];
  }

  /* Section 2 */
  .card-box {
    @apply bg-white rounded-xl p-2 transition-all cursor-pointer transform duration-300 ease-in-out flex flex-col items-center gap-3 hover:translate-y-[-10px] border-2 hover:border-primary hover:scale-105;
  }
  .border-box-section-2 {
    @apply flex items-center justify-center w-2/5 md:w-2/6 border border-gray-200 rounded-full p-2 gap-2;
  }
  .btn-section-2 {
    @apply flex items-center bg-primary p-3 rounded-xl text-white gap-3 transition-all hover:bg-accent cursor-pointer hover:translate-y-[-5px];
  }
  .btn-section-2-1 {
    @apply flex items-center border-2 border-primary p-3 rounded-xl text-primary gap-3 transition-all hover:bg-accent hover:text-white hover:border-white cursor-pointer hover:translate-y-[-5px];
  }

  /* Section 3 */
  .border-title {
    @apply flex items-center justify-center w-2/5 md:w-[200px] border border-gray-200 rounded-full p-2;
  }
  .services-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 cursor-pointer;
  }
  .services-box {
    @apply bg-white w-2/3 p-2 rounded-xl mx-auto absolute top-36 md:top-28 left-1/2 transform -translate-x-1/2 opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out space-y-2;
  }
  .blogs {
    @apply my-4 md:my-24 container space-y-10;
  }
  .blogs-box {
    @apply bg-[#F1F8FF] rounded-xl overflow-hidden hover:bg-[#E0F7FA] transition duration-200 ease-in-out transform hover:translate-y-[-12px] cursor-pointer;
  }
}
